<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Open Food Facts</title>
    <meta name="description" content=""/>
    <meta name="Keywords" content=""/>
    <!-- Dernière version du moteur de rendu pour IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Utilisation de tout l'espace disponible pour les mobiles, sans zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="assets/img/openFoodFactLogo_b.png"/>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>