@font-face {
    font-family: Exo;
    src: url(../font/Exo-SemiBold.otf);
}

* {font-family: Exo;}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

nav{
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left:0;
    background-color: #1d1a1a;
    box-shadow: 0 5px 5px #1D272B;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav_img{
    margin-left: 20px;
}

#nav_title{
    font-size: 45px;
    color: aliceblue;
}

#navbar .row{margin-right: 20px}

.navbtn{
    border: 2px solid white;
    border-bottom: 0;
    border-top: 0;
    width: 85px; height: 85px;
    background-size: contain;
}

.navbtn:hover{
    background-color: white;
}

#nav_search{background-image: url(../icon/search.png)}
#nav_search:hover{background-image: url(../icon/search_b.png)}

#nav_profil{border-left:0;background-image: url(../icon/profil.png)}
#nav_profil:hover{border-left:0;background-image: url(../icon/profil_b.png)}

.dropdown {
    display: none;
    position:absolute;
    flex-direction: column;
    top: 85px;
}

#dropuser {right: 20px}

#dropuser a,
#dropuser a:hover {
    height: 40px; width: 150px;
    border: 2px solid #1d1a1a;
    border-bottom: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#dropuser > a:last-child {border-bottom: 2px solid #1d1a1a}

.dropdown a:hover {background-color: #d5d6d6}

#dropsearch {
    width: 100vw;
    left: 0;
    background-color: #1d1a1a;
    flex-direction: row;
    padding: 5px;
}

#dropsearch form input {
    width: calc(100vw - 250px); height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: right;
    padding-right: 5px; padding-left: 5px;
    margin-right: 3px;
}

#dropsearch a,
#dropsearch form button {
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
}

#dropsearch form button {width:100px; height: 34px}

#dropsearch div{
    right: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}
#dropsearch a,
#dropsearch a:hover {
    color: black;
    text-decoration: none;
    border-radius: 10px;
    position: absolute;
    padding-left: 10px; padding-right: 10px;
    height: 20px;
}

#dropsearch a:hover{background-color: #d5d6d6}

.navbtn:hover .dropdown {
    display: flex;
    background-color: white;
}

body {/*background-color: darkgray*/
    background-image:url(../img/greybakcground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    width: 100%;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

section > div,
section > aside {
    height: calc(100vh - 122px);
    overflow-y: scroll;
}

section > div{
    width: 800px;
    background-color: white;
    margin: 10px;
}

section > aside{
    width: 200px;
    background-color: white;
    margin: 10px;
}

#contains{
    background-image: url(../img/openfoodfact_head.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#consult > div,
#consult > table,
#consult > h2,
#consult > h3,
#consult > p {
    margin: 15px;
}

#consult > div.row {justify-content: space-between}

.product {
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
    text-align: center;
    padding: 5px; margin: 10px;
    width: 120px; height: 150px;
    background-color: rgba(211, 211, 211, 0.88);
}

.product:hover{background-color: rgba(226, 226, 226, 0.88)}

.product > img{max-height: 100px}

#contains > h1 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 36px
}

#contains a,
#contains a:hover {
    color: black;
    text-decoration: none;
}

#advResearch {
    padding: 20px;
    padding-top: 0
}

#advSearch {
    width: 80%;
    height: 35px;
    padding: 5px;
    background-color: #efefef;
}

.inlineSelect {
    margin-right: 8px;
    height: 25px;
}

#advResearch h4 {margin-top:0}

#advResearch h2 + .row > div:first-child {margin-right: 100px}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 1em 0;
    padding: 0;
}

#advsearchbtn{
    height: 35px; width: 130px;
    margin-top: 40px;
    margin-left: 600px;
}

#advsearchbtn,
.adder {
    background-color: #ddd;
    box-shadow: 5px 5px 5px #b5b5b5;
    border:0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer
}

#advsearchbtn:hover,
.adder:hover {background-color: #f0f0f0}

.options {font-size: 14px; color: #3c3c3c}

#nutlist div,
#critlist div {margin-bottom: 5px}

.adder{
    color: #434343;
    padding: 5px;
}

#nutgrade {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nutgrade > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; height: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

#nutgrade > p:first-child {
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nutgrade > p:last-child {
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nutgrade > p.active{
    width: 35px; height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 26px;
    color: white;
}

#repnutri {
    display: flex;
    flex-direction: column;
}

#repnutri > div{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.fort,
.moyen,
.faible {
    width: 25px; height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.fort {background-color: red}
.moyen {background-color: orange}
.faible {background-color: green}

#infnutri {
    width: 600px;
    background-color: #b5b5b5;
}

#infnutri th,
#infnutri td {
    padding: 15px;
    text-align: left;
    height: 18px;
    border-bottom: 1px solid #ddd;
}

#infnutri > tr:last-child td {
    border-bottom: 0;
}